{% extends 'base.html' %}

{% block title %} Edit Member {% endblock %}

{% block content %}
<main class="form">
    <h2>Edit Member details</h2>
    <section class="form-new">
        <p>All feilds are required</p>

        <form action="/members/{{member.id}}" method="post">
            <div>
                <label for="first_name">First name:</label>
                <input type="text" id="fist_name" name="first_name" value="{{ member.first_name }}">
            </div>
            <div>  
                <label for="last_name">Last name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ member.last_name }}">
            </div> 
            <div>
                <label for="phone_number">Phone number:</label>
                <input type="text" id="phone_number" name="phone_number" value="{{ member.phone_number }}">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="{{ member.email }}">
            </div> 
            <div>
                <button class="add" type="submit">Update</button>
            </div>
        </form>
    </section>
</main>  
{% endblock %}