{% extends 'base.html' %}

{% block title %} Members {% endblock %}

{% block content %}
<main class="flex_table">
    <hgroup class="table_header">
        <h2 class="header_h2">Member List</h2>
        <form class="header_form" action="/members" method="GET">
            <input class="text" type="text" name="search" placeholder="Search by name">
            <input class="search_button" type="submit" value="Search">
        </form>
        <a class="header_button" href="/members/new">Add New Member</a>
    </hgroup>

    <table class="'table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
            <td>{{ member.first_name }}</td>
            <td>{{ member.last_name }}</td>
            <td>{{ member.phone_number }}</td>
            <td>{{ member.email }}</td>
            <td class="table_button"><a class="book" href="/members/{{member.id}}/bookings/new">Book a Class</a></td>
            <td class="table_button"><a href="/members/{{member.id}}">View Details</a></td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
</main>
    
{% endblock %}