{% extends 'base.html' %}

{% block content %}
    Add a new member
    <form action="/members" method="post">
        <label for="first_name">First name:</label>
        <input type="text" id="fist_name" name="first_name">
        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name">
        <label for="phone_number">Phone number:</label>
        <input type="text" id="phone_number" name="phone_number">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <button type="submit">Add Member</button>
    </form>
{% endblock content %}