{% extends 'base.html' %}

{% block title %} Member Details {% endblock %}

{% block content %}
<aside>
    <h2>Member Details</h2>
    <ul>
        <li>{{ member.first_name }}</li>
        <li>{{ member.last_name }}</li>
        <li>{{ member.phone_number }}</li>
        <li>{{ member.email }}</li>
        <li><a href="/members/{{ member.id }}/edit">Edit Details</a></li>
    </ul>
    <form action="/members/{{ member.id }}/delete" method="POST">
        <button>Delete Member</button>
    </form>
</aside>
<section>
    <h2>Member bookings</h2>
    <ul>

        {% for booking in bookings %}
        <li>{{ booking.gym_class.name }}</li>
        <li>{{ booking.gym_class.instructor }}</li>
        <li>{{ booking.gym_class.location }}</li>
        <li>{{ booking.gym_class.date }}</li>
        <li>{{ booking.gym_class.time }}</li>
        <li>
            <form action="/bookings/{{ booking.id }}/delete" method="POST">
                <button>Delete Booking</button>
            </form>
        </li>
        {% endfor %}
        <li><a href="/members/{{member.id}}/bookings/new">Add New Booking</a></li>
    </ul>
    

</section>



    
{% endblock %}