{% extends 'base.html' %}

{% block title %} Member Details {% endblock %}

{% block content %}
<main class="flex_show">
    <aside class="flex_show_details">
        <h2>Member Details</h2>
        <ul>
            <li>Name: {{ member.first_name }} {{ member.last_name }}</li>
            <li>Phone number: {{ member.phone_number }}</li>
            <li>Email: {{ member.email }}</li>
            <li><a href="/members/{{ member.id }}/edit">Edit Member Details</a></li>
        </ul>
    </aside>
    
        
        <section class="flex_show_bookings">        
            <h2>Member bookings</h2>
            {% for booking in bookings %}
                <ul>  
                    <li>Class name: {{ booking.gym_class.name }}</li>
                    <li>Instructor: {{ booking.gym_class.instructor }}</li>
                    <li>Location: {{ booking.gym_class.location }}</li>
                    <li>Date: {{ booking.gym_class.date }}</li>
                    <li>Time: {{ booking.gym_class.time }}</li>
                    <li>
                        <form action="/members/{{member.id}}/bookings/{{booking.id}}/delete" method="POST">
                            <button class="delete">Delete Booking</button>
                        </form>
                    </li>
                </ul>
            {% endfor %}
        </section>
        
        <section class="flex_book_button">
            <a class="book" href="/members/{{member.id}}/bookings/new">New Booking</a>
        </section>

    

</main>

    
{% endblock %}