{% extends 'base.html' %}

{% block title %} New Booking {% endblock %}

{% block content  %}
<main class="form">
    <h2>Add New Booking</h2>
    <section class="form-new">
        <p>All feilds are required</p>
        <form action="/bookings/member" method="post" >
            <div>
                <label for="gym_class_id">Class:</label>
                <select name="gym_class_id" id="gym_class_id" required="required">
                    {% for gym_class in gym_classes %}
                        <option value="{{gym_class.id}}">{{ gym_class.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="member_id">Member:</label>
                <select name="member_id" id="member_id" required="required">
                        <option value="{{member.id}}">{{ member.first_name }} {{ member.last_name }}</option>
                </select>
            </div>
            <div>
                <button class="add" type="submit">Book</button>
            </div>
        </form>
    </section>
</main>
{% endblock  %}