{% extends 'base.html' %}

{% block title %} New Booking {% endblock %}

{% block content  %}
<h2>Add New Booking</h2>
<section class="form-new">
    <form action="/bookings/gym_class" method="post">
        <div>
            <label for="gym_class_id">Class:</label>
            <select name="gym_class_id" id="gym_class_id">
                    <option value="{{gym_class.id}}">{{ gym_class.name}}</option>
            </select>
        </div>
        <div>
            <label for="member_id">Member:</label>
            <select name="member_id" id="member_id">
                {% for member in members %}
                    <option value="{{member.id}}">{{ member.first_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button class="add" type="submit">Book</button>
        </div>
    </form>
</section>

{% endblock  %}