.form-new {
    border: #73174B solid 2px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.form-new>form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}

.form-new>form>div {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.form-new>p {
    text-align: right;
    font-style: italic;
}

.add{
    background-color: #017073;
    color: white;
    border: None;
    border-radius: 5px;
    padding: 0.25em 0.75em;
    box-shadow: 2px 2px 2px #017073 ;
    min-height: 30px;
}

label {
    width: 45%;
}

input {
    width: 45%;
    min-height: 25px;
    min-width: 20ch;
}

select {
    width: 45%;
}