.flex_table {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.table_header {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    width: 90%;
}

.table {
    grid-area: table;
    align-self: center;
    width: 90%;
}