body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #73174B;
    color: white;
}

nav>ul {
    display: flex;
    justify-content: flex-start;
}

nav>ul>li {
    list-style: none;
    padding: 10px;
    border-right: white solid 1px;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-around;
}

aside {
    width: 30%;
    min-width: 200px;
    border-right: grey solid 2px;
    padding: 10px 20px;
}

.show>ul{
    list-style: none;
    padding-left: 0;
    line-height: 1.5;
}

.bookings {
    width: 60%;
    padding: 10px 20px;
}

hgroup {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    width: 90%;
}

h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    background-color: #73174B;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.book {
    background-color: #017073;
}



