body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    background-color: #73174B;
    box-shadow: 2px 2px 2px #5a123b;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.book {
    background-color: #017073;
    box-shadow: 2px 2px 2px #017073;
}

.delete {
    background-color: #73174B;
    color: white;
    border: None;
    border-radius: 5px;
    padding: 0.25em 0.75em;
    box-shadow: 2px 2px 2px #5a123b ;
    min-height: 30px;
}

nav {
    background-color: #73174B;
    color: white;
}

nav>ul {
    display: flex;
    justify-content: flex-start;
}

nav>ul>li {
    list-style: none;
    padding: 10px;
    border-right: white solid 1px;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    box-shadow: none;
}

.bookings {
    width: 60%;
    padding: 10px 20px;
}

hgroup {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    width: 90%;
}

h2 {
    text-transform: uppercase;
}


