
table {
    border-collapse: collapse;
    border: #73174B solid 1px;
    background-color: white;
    width: 90%;
}

thead {
    background-color: #73174B;
    color: white;
    text-transform: uppercase;
}

th {
    padding: 5px;
    text-align: left;
}

td {
    padding: 10px 10px;
    text-align: left;
    min-width: 10ch;
}