table {
    width: 90%;
    border-collapse: collapse;
    border: #73174B solid 2px;
    background-color: white;
}

thead {
    background-color: #73174B;
    color: white;
    text-transform: uppercase;
}

th {
    padding: 5px;
    text-align: left;
}

td {
    padding: 10px 10px;
    text-align: left;
}