{% extends 'base.html' %}

{% block title %} Edit Class {% endblock %}

{% block content %}
    Edit class details
    <form action="/gym_classes/{{gym_class.id}}" method="post">
        <label for="name">Class name:</label>
        <input type="text" id="name" name="name" value="{{gym_class.name}}">
        <label for="instructor">Instructor:</label>
        <input type="text" id="instructor" name="instructor" value="{{gym_class.instructor}}">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="{{gym_class.location}}">
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" value="{{gym_class.date}}">
        <label for="time">Time:</label>
        <input type="text" id="time" name="time" value="{{gym_class.time}}">
        <label for="capacity">Capacity</label>
        <input type="number" id="capacity" name="capacity" value="{{gym_class.capacity}}">
        <button type="submit">Update</button>
    </form>
{% endblock content %}