{% extends 'base.html' %}

{% block title %} Upcoming Classes {% endblock %}

{% block content %}

<hgroup>
    <h2>Upcoming classes</h2>
    <a href="/gym_classes/new">Add a new class</a>
</hgroup>

<table>
    <thead>
        <tr>
            <th>Class name</th>
            <th>Instructor</th>
            <th>Location</th>
            <td>Date</th>
            <th>Time</th>
            <th>Capacity</th>
            <th>Availability</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for gym_class in gym_classes | sort (attribute="date,time") %}
        <tr>
            <td>{{gym_class.name}}</td>
            <td>{{gym_class.instructor}}</td>
            <td>{{gym_class.location}}</td>
            <td>{{gym_class.date.strftime('%a %d %B %y')}}</td>
            <td>{{gym_class.time.strftime('%H:%M')}}</td>
            <td>{{gym_class.capacity}}</td>
            <td>
                {% if spaces == True %}
                Spaces available
                {% else %}
                Class Full
                {% endif %}
            </td>
            <td><a href="/gym_classes/{{gym_class.id}}">View Details</a></td>
            <td><a href="/bookings/new">Book a Place</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}