{% extends 'base.html' %}

{% block title %} New Class {% endblock %}

{% block content %}
<h2>Add a new gym class</h2>
<section class="form-new">
    <form action="/gym_classes" method="post">
        <div>
            <label for="name">Class name:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="instructor">Instructor:</label>
            <input type="text" id="instructor" name="instructor">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location">
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date">
        </div>
        <div>
            <label for="time">Time:</label>
            <input type="time" id="time" name="time">
        </div>
        <div>
            <label for="capacity">Capacity</label>
            <input type="number" id="capacity" name="capacity">
        </div>
        <div>
            <button class="add" type="submit">Add Class</button>
        </div>
    </form>
</section>
{% endblock content %}