
{% extends 'base.html' %}

{% block title %} Class Details {% endblock %}

{% block content %}

<aside>
    <h2>Class details</h2>
    <ul>
        <li>Class name: {{gym_class.name}}</li>
        <li>Instructor: {{gym_class.instructor}}</li>
        <li>Location: {{gym_class.location}}</li>
        <li>Date: {{gym_class.date.strftime('%a %d %B %y')}}</li>
        <li>Time: {{gym_class.time.strftime('%H:%M')}}</li>
        <li>Capacity: {{gym_class.capacity}}</li>
        
        <li><a href="/gym_classes/{{gym_class.id}}/edit">Edit Class</a></li>
    </ul>
</aside>

<section>
    <section>
        <ul>
            {% if availability == True %}
            <li>
                Spaces available
            </li>
            <li>
                    <p><a href="/gym_classes/{{gym_class.id}}/bookings/new">Add New Booking</a></p>
            </li>
                {% else %}
            <li>
                Class Full - Booking unavailable
            </li>
            {% endif %}
        </ul>
    </section>

    <section>

    <h2>Class Bookings</h2>
    
    <ul>
        {% for booking in bookings %}
        <li>{{ booking.member.first_name }} {{ booking.member.last_name }}</li>
        <li>
            <form action="/bookings/{{ booking.id }}/delete" method="POST">
                <button>Delete Booking</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    </section>    
    
</section>


{% endblock %}